
[Unit]
Description=SMS2Telegram
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/sms_http_telegram$/

User=MY_USER
Group=MY_USER

ExecStart=/opt/sms_http_telegram/.venv/bin/python3 /opt/sms_http_telegram/main.py /opt/sms_http_telegram/config.json

# Let systemd restart this service always
Restart=always

[Install]
WantedBy=multi-user.target